@import url("https://fonts.googleapis.com/css2?family=Lunasima:wght@200;300;400;500;600;700&display=swap");
:root {
    --ifm-font-family-base: "Lunasima";
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
}

/* navbar */
.navbar__logo {
    height: 1.4em;
}

.navbar__title {
    font-weight: 300;
    font-size: 20px;
    margin-left: 0;
}

.navbar__items {
    font-size: 14px;
}

/* sidebar */
.theme-doc-sidebar-container {
    font-size: 14px;
}

.menu__list-item:not(:first-child) {
    margin-top: 0;
}

.theme-doc-sidebar-item-category-level-2,
.theme-doc-sidebar-item-category-level-3,
.theme-doc-sidebar-item-category-level-4,
.theme-doc-sidebar-item-category-level-5,
.theme-doc-sidebar-item-link-level-2,
.theme-doc-sidebar-item-link-level-3,
.theme-doc-sidebar-item-link-level-4,
.theme-doc-sidebar-item-link-level-5 {
    border-left: var(--ifm-color-border-select) solid 1px;
    padding: 4px 0 0 4px;
}

/* main content */
div[class*="docItemCol_"] {
    max-width: 100% !important;
}

div[class*="docItemContainer_"] {
    width: 85% !important;
    margin: auto;
}

/* TOC */
.col--3 {
    --ifm-col-width: 250px;
}

.table-of-contents__left-border {
    border-left: none;
}

.table-of-contents li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
}

.table-of-contents__link--active {
    border-left: var(--ifm-color-toc-border-select) solid 2px;
    margin-left: -2px;
}

.menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.2rem 1.2rem
}

[data-theme='dark'] {
    --ifm-color-primary: #489cc7;
    --ifm-color-primary-dark: #398fbb;
    --ifm-color-primary-darker: #3687b0;
    --ifm-color-primary-darkest: #2c6f91;
    --ifm-color-primary-light: #5da7cd;
    --ifm-color-primary-lighter: #67add1;
    --ifm-color-primary-lightest: #86beda;
    --ifm-color-border-select: var(--ifm-color-gray-800);
    --ifm-color-toc-border-select: var(--ifm-color-primary-darkest);
}

[data-theme='light'] {
    --ifm-color-border-select: var(--ifm-color-secondary-dark);
    --ifm-color-toc-border-select: var(--ifm-color-primary-lighter);
}
