---
id: "verification"
title: "5. Verify Confidentiality"
slug: "/developers/guides/nodejs_tunnels/verification"
sidebar_position: 5
---
